*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    padding: 0; 
    margin: 0;
}
@keyframes easeIn{
    from{
        top: 0; 
        left: 1919px; 
    }
    to {
        top: 0; 
        left: 0; 
    }
}
.ease-in{
    position: relative;
    animation: easeIn 5s; 
    animation-delay: 0s;
}
.title{
    color: rgba(114, 514, 191, 0.981); 
    font-size: large;
    text-shadow: 1.14px 5.14px 1.91px rgba(11, 45, 14, 0.514); 
    margin: 15px; 
}
@keyframes news {
    from {
        background: #114514;
    }
    to {
        background: #b45e8a;
    }
}
.newsText {
    padding: 10px; 
    animation: news 5s;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
    color: aqua; 
    margin: 10px; 
    justify-content: center;
}
@keyframes bgColor {
    from{
        background: #19198a;
    }
    to {
        background: #114514;
    }
}
.bgColor{
    animation: bgColor 5s;
    animation-iteration-count: infinite; 
    animation-direction: alternate;
}
.colorAbt{
    padding: 5px; 
    color: white; 
    background-color: black;

}
.colorPdc{
    padding: 5px;
    background-color: red;

}
.colorHis{
    padding: 5px; 
    background-color: gold;
}
.songs{
    color: #b45e8a; 
    margin: 10px; 
    align-items: center;
}
button{
    width: 114px; 
    height: 51.4px; 
    align-items: baseline;
    font-size: medium;
    cursor: pointer; 
}
.join{
    background: linear-gradient(
        114deg, 
        #19198a, 
        #114514, 
        #b45e8a
    );
    margin-bottom: 10px; 
    width: 200px; 
}
.join:hover{
    border: 11.4px; 
}
.jTxt{
    text-decoration: none; 
    color: rgba(114, 514, 191, 0.981); 
}
.jTxt:hover{
    text-decoration: underline;
    color: #b45e8a;
}
/* The following are experimental features added to history section and eventually mayybe even the entire website */
@keyframes shadow{
    from {
        box-shadow: 0px 0px 0px 0px rgba(114, 514, 191, 0.981);
    }
    to{
        box-shadow: 10px 10px 30px 15px rgba(114, 514, 191, 0.981);
    }
    to{
        box-shadow: 3px 3px 15px 5px rgba(114, 514, 191, 0.981);
    }
}
@keyframes ReverseShadow{
    
    from{
        box-shadow: 3px 3px 15px 5px rgba(114, 514, 191, 0.981);
    }
    to{
        box-shadow: 10px 10px 30px 15px rgba(114, 514, 191, 0.981);
    }
    
    to {
        box-shadow: 0px 0px 0px 0px rgba(114, 514, 191, 0.981);
    }
}
.card{
    margin: 10px; 
    padding: 10px; 
    width: 30%; 
    background-color: gold; 
    border-radius: 10px; 
}
.card:hover{
    animation: shadow 0.5s; 
    box-shadow: 3px 3px 15px 5px rgba(114, 514, 191, 0.981); 
}
.card::after{
    animation: ReverseShadow 0.5s; 

}