@media (max-width:1145px){
}
@media (max-height:1145px){
}
.title{
	
}
.textboxes{
	background: #114514; 
	align-items: center; 
	border: none; 
	border-bottom: thin; 
	border-bottom-color: #b45e8a; 
	border-bottom-style: inset;
	width: 50%; 
	height: 51.1px; 
	margin: 10px; 
	font-family: Segoe, "Trebuchet MS", Verdana, "sans-serif"; 
}
.button{
	width: 114px;
	height: 51.4px; 
	margin-bottom: 10px;
}
.background{
	background: linear-gradient(
	191deg, 
	#19198a, 
	#114514, 
	#b45e8a
	);
background-size: auto; 
height: 784px; 
}
.card{
	width: 500px; 
	background-color: #19198a; 
	box-shadow: 0px 0px 8px 5px rgba(11, 45, 14, 0.514);
	margin: auto; 
	margin-top: 10px; 
	align-self: center; 
}